<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.MailMapper">

    <insert id="insertMail" parameterType="com.example.backend.entity.Mail">
        INSERT INTO mail (sender_id, receiver_id, subject, content, create_at)
        VALUES (#{sender_id}, #{receiver_id}, #{subject}, #{content}, #{create_at})
    </insert>


    <select id="selectByReceiverIdWithSign" resultType="Long">
        SELECT
            mail_id
        FROM
            mail
        WHERE
            receiver_id = #{userId}
            AND sender_sign = 0
            AND receiver_sign = #{receiver_sign}
            <if test="senderId != 0">
                AND sender_id = #{senderId}
            </if>
            <if test="subject != null">
                AND subject LIKE CONCAT('%', #{subject}, '%')
            </if>
            <if test="body != null">
                AND content LIKE CONCAT('%', #{body}, '%')
            </if>
            <if test="since != null">
                AND create_at BETWEEN #{since} AND NOW()
            </if>
            <if test="read != null">
                <if test="read == 'UNSEEN'">
                    AND `read` = 0
                </if>
                <if test="read == 'SEEN'">
                    AND `read` = 1
                </if>
            </if>
            <if test="receiver_star != null">
                AND receiver_star = 1
            </if>
        ORDER BY
            create_at
    </select>

    <!-- 根据用户ID查询邮件并分页 -->
    <select id="selectBySenderIdWithSign" resultType="Long">
        SELECT
            mail_id
        FROM
            mail
        WHERE
            sender_id = #{userId}
            AND sender_sign = #{sender_sign}
            <if test="receiverId != 0">
                AND receiver_id = #{receiverId}
            </if>
            <if test="subject != null">
                AND subject LIKE CONCAT('%', #{subject}, '%')
            </if>
            <if test="body != null">
                AND content LIKE CONCAT('%', #{body}, '%')
            </if>
            <if test="since != null">
                AND create_at BETWEEN #{since} AND NOW()
            </if>
            <if test="sender_star != null">
                AND sender_star = 1
            </if>
        ORDER BY
            create_at
    </select>

    <select id="countByReceiverIdWithSign" resultType="int">
        SELECT
            COUNT(*)
        FROM
            mail
        WHERE
            receiver_id = #{userId}
            AND sender_sign = 0
            AND receiver_sign = #{receiver_sign}
    </select>

    <select id="countBySenderIdWithSign" resultType="int">
        SELECT
            COUNT(*)
        FROM
            mail
        WHERE
            Sender_id = #{userId}
            AND sender_sign = #{sender_sign}
    </select>

    <select id="selectByMailId" resultMap="mailResultMap">
        SELECT
            mail_id,
            sender_id,
            receiver_id,
            subject,
            content,
            create_at,
            sender_sign,
            receiver_sign,
            `read`,
            sender_star,
            receiver_star
        FROM
            mail
        WHERE
            mail_id = #{mailId}
    </select>

    <!-- 更新邮件状态 -->
    <update id="changeState">
        UPDATE
            mail
        SET
            <if test="sign == 'READ'">
                <if test="op == '+FLAG'">
                    `read` = 1
                </if>
                <if test="op == '-FLAG'">
                    `read` = 0
                </if>
                <if test="op == 'FLAGS'">
                    <!-- 1为已读 0为未读 -->
                    `read` = 1 - `read`
                </if>
            </if>
            <if test="sign == 'S_STAR'">
                <if test="op == '+FLAG'">
                    sender_star = 1
                </if>
                <if test="op == '-FLAG'">
                    sender_star = 0
                </if>
                <if test="op == 'FLAGS'">
                    <!-- 1为已读 0为未读 -->
                    sender_star = 1 - sender_star
                </if>
            </if>
            <if test="sign == 'R_STAR'">
                <if test="op == '+FLAG'">
                    receiver_star = 1
                </if>
                <if test="op == '-FLAG'">
                    receiver_star = 0
                </if>
                <if test="op == 'FLAGS'">
                    <!-- 1为已读 0为未读 -->
                    receiver_star = 1 - receiver_star
                </if>
            </if>
            <if test="sign == 'TRASH'">
                <if test="op == '+FLAG'">
                    receiver_sign = 1,
                    receiver_star = 0
                </if>
                <if test="op == '-FLAG'">
                    receiver_sign = 0
                </if>
            </if>
        WHERE
            mail_id = #{mailId}
    </update>




    <!-- 定义结果映射 -->
    <resultMap id="mailResultMap" type="com.example.backend.entity.Mail">
        <id property="mail_id" column="mail_id" javaType="long" jdbcType="BIGINT"/>
        <result property="sender_id" column="sender_id" javaType="long" jdbcType="BIGINT"/>
        <result property="receiver_id" column="receiver_id" javaType="long" jdbcType="BIGINT"/>
        <result property="subject" column="subject" javaType="String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"/>
        <result property="create_at" column="create_at" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result property="sender_sign" column="sender_sign" javaType="short" jdbcType="TINYINT"/>
        <result property="receiver_sign" column="receiver_sign" javaType="short" jdbcType="TINYINT"/>
        <result property="read" column="read" javaType="short" jdbcType="TINYINT"/>
        <result property="sender_star" column="sender_star" javaType="short" jdbcType="TINYINT"/>
        <result property="receiver_star" column="receiver_star" javaType="short" jdbcType="TINYINT"/>
    </resultMap>

</mapper>