<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.MailMapper">

    <insert id="insertMail" parameterType="com.example.backend.entity.Mail">
        INSERT INTO mail (sender_id, receiver_id, subject, content, create_at)
        VALUES (#{sender_id}, #{receiver_id}, #{subject}, #{content}, #{create_at})
    </insert>

    <!-- 根据用户ID查询邮件并分页 -->
    <select id="selectByReceiverUserId" resultMap="mailResultMap">
        SELECT
            mail_id,
            sender_id,
            receiver_id,
            subject,
            content,
            create_at
        FROM
            mail
        WHERE
            receiver_id = #{userId}
        ORDER BY
            create_at
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectByMailId" resultMap="mailResultMap">
        SELECT * FROM mail WHERE mail_id = #{mailId}
    </select>


    <!-- 定义结果映射 -->
    <resultMap id="mailResultMap" type="com.example.backend.entity.Mail">
        <id property="mail_id" column="mail_id" javaType="long" jdbcType="BIGINT"/>
        <result property="sender_id" column="sender_id" javaType="long" jdbcType="BIGINT"/>
        <result property="receiver_id" column="receiver_id" javaType="long" jdbcType="BIGINT"/>
        <result property="subject" column="subject" javaType="String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"/>
        <result property="create_at" column="create_at" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>