<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.backend.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/> </resultMap>

    <select id="findByEmail" parameterType="String" resultMap="UserResultMap">
        SELECT id, username, password, email, phone, status FROM user WHERE email = #{email} AND status = 1
    </select>

    <select id="findAnyByEmail" parameterType="String" resultMap="UserResultMap">
        SELECT id, username, password, email, phone, status FROM user WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.example.backend.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, email, phone, status)
        VALUES(#{username}, #{password}, #{email}, #{phone}, #{status})
    </insert>

    <update id="updateUserStatus" parameterType="Map">
        UPDATE user SET status = #{status} WHERE email = #{email}
    </update>

    <update id="updatePassword" parameterType="com.example.backend.entity.User">
        UPDATE user SET password = #{password} WHERE email = #{email} AND status = 1
    </update>

    <update id="updateUsername" parameterType="com.example.backend.entity.User">
        UPDATE user SET username = #{username} WHERE email = #{email} AND status = 1
    </update>

    <update id="updatePhone" parameterType="com.example.backend.entity.User">
        UPDATE user SET phone = #{phone} WHERE email = #{email} AND status = 1
    </update>

    <select id="findById" resultMap="UserResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

</mapper>