.DS_Store
*/node_modules/*
node_modules
*/dist/*
app-dist
dist

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.cursorignore
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

