// 全局样式
html,body{
  margin: 0;
  padding: 0;
}

#app {
  padding: 0;
  font-weight: normal;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

// 个性化主题样式
// 变量定义
$color-primary: #005691;
$color-primary-hover: #5086ab;
$color-primary-active: #005691;

// 公共样式
.email-link {
  color: $color-primary;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $color-primary-hover;
  }
  &:active {
    color: $color-primary-active;
  }
}

.el-button.email-button{
  background: $color-primary;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  height: 40px;
  &:hover {
    background: $color-primary-hover;
    color: #fff;
  }
  &:active {
    background: $color-primary-active;
    color: #fff;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

}
